header
    .header-top
        .container
            .nav
                each value in ['О нас','Фермеры','Как это работает?','Отзывы','Доставка']
                    li.item-level-0
                        a(href="#").link-level-0= value

    .header-bottom
        .container
            .logo-wrapper
                a(href='#').logo
                    img(src='../images/logo.png')
                    span.logo-text с грядки.kz -
                .logo-decription online магазин<br> фермерских продуктов
            .city Алматы
            a(href='tel:+7 705 33 009 55').main-phone +7 705 33 009 55
            a(href='#').login Войти
            a(href="#").cart-preview <span class="title">КОРЗИНА:</span> <span class="count">0</span> тов. -  <span class="total">0</span> тг.
