extends base

block content
    .catalog-top
        each value in Array(9)
            a(href='#').item
                img(src='../images/catalog.png')
                .title Название
    .main-slider-wrap
        .container
            .main-slider.slider
                each value in Array(4)
                    .slide.object-fit
                        img(src='../images/slide.png')
                        .title Быстрая доставка продуктов
                        .description  Краткое описание
                        a(href="#").more-slide Подробнее
    .popular-slider-wrap
        .container
            h2 Популярные товары
            .popular-slider.slider
                each value in Array(10)
                    .slide
                        .item-preview
                            a(href="#").item-image.object-fit
                                img(src="../images/tomato.jpg")
                                .week-list
                                    each value, index in ['ПН','ВТ','СР','ЧТ','ПТ','СБ','ВС']
                                        .day(class="day-" + (index + 1))= value
                            .bottom-info
                                a(href="#").title Помидоры спелые, сочные
                                .description от кооператива «Селянин»
                                .bottom-row
                                    .bottom-left
                                        .price <span class="count">200</span> <span>тг.</span>/кг
                                        .rating
                                            each value, index in Array(5)
                                                if index + 1 < 4
                                                    img(src='../images/svg/star.svg')
                                                else
                                                    img(src='../images/svg/no-star.svg')
                                    a(href="#").buy-button
    .about-wrap
        .container
            h2  О нас
            .text-about <span>Фермерские продукты из интернет-магазина «с грядки.kz»  </span><br> — это сочные фрукты и овощи, пышные булочки из семейных пекарен, жирные сливки из молока домашних коров и ароматные колбасы. Мы сократили путь между производителями и покупателями,чтобы на вашем столе были только самые свежие продукты.
            .about-list
                each value in Array(3)
                    .item
                        .icon
                            img(src="../images/svg/hat.svg")
                        .title Топ фермеры
                        .text — Более 1500 продуктов от 150 малых производителей на одном сайте.
    .farmers-block-wrap
        .container
            h2 Фермеры
            .farmers-slider.slider
                each value in Array(5)
                    .farmer-card
                        .top
                            .img-person.object-fit
                                img(src='../images/farmer.jpg')
                            .text-info
                                a(href="#").name Имя фамилия
                                .text поставщик овощей
                        .images
                            .img.object-fit
                                img(src='../images/tomato.jpg')
                            .img.object-fit
                                img(src='../images/tomato.jpg')


    .all-catalog-wrap
        .container
            h2 Весь асортимент
            .catalog-list
                each value in Array(12)
                    a(href="#").item
                        .img.object-fit
                            img(src="../images/tomato.jpg")
                        .bottom-info
                            .title Название
                            .description более 89 видов

    .popular-slider-wrap
        .container
            h2 Новинки
            .popular-slider.slider
                each value in Array(10)
                    .slide
                        .item-preview
                            a(href="#").item-image.object-fit
                                img(src="../images/tomato.jpg")
                                .week-list
                                    each value, index in ['ПН','ВТ','СР','ЧТ','ПТ','СБ','ВС']
                                        .day(class="day-" + (index + 1))= value
                            .bottom-info
                                a(href="#").title Помидоры спелые, сочные
                                .description от кооператива «Селянин»
                                .bottom-row
                                    .bottom-left
                                        .price <span class="count">200</span> <span>тг.</span>/кг
                                        .rating
                                            each value, index in Array(5)
                                                if index + 1 < 4
                                                    img(src='../images/svg/star.svg')
                                                else
                                                    img(src='../images/svg/no-star.svg')
                                    a(href="#").buy-button
    .popular-slider-wrap.special
        .container
            h2 Специальные предложения
            .popular-slider.slider
                each value in Array(10)
                    .slide
                        .item-preview
                            a(href="#").item-image.object-fit
                                img(src="../images/tomato.jpg")
                                .week-list
                                    each value, index in ['ПН','ВТ','СР','ЧТ','ПТ','СБ','ВС']
                                        .day(class="day-" + (index + 1))= value
                            .bottom-info
                                a(href="#").title Помидоры спелые, сочные
                                .description от кооператива «Селянин»
                                .bottom-row
                                    .bottom-left
                                        .old-price 1200 тг.
                                        .price <span class="count">200</span> <span>тг.</span>/кг
                                        .rating
                                            each value, index in Array(5)
                                                if index + 1 < 4
                                                    img(src='../images/svg/star.svg')
                                                else
                                                    img(src='../images/svg/no-star.svg')
                                    a(href="#").buy-button
