extends base

block content
    .container.last-block
        .user-wrap
            .title-wrap.mob
                h2 Личный кабинет
                .special-text Здравствуйте, <span class='name'>Борис Спиваков</span>, добро пожаловать в Ваш личный кабинет.
            .user-sidebar
                .user-image.object-fit
                    img(src='../images/farmer.jpg')
                .user-group
                    .user-name Борис Спиваков
                .user-group
                    a(href='#') Заказы
                    a(href='#') Мои заказы
                .user-group
                    a(href='#') Сообщения
                    a(href='#') Уведомления
                .user-group
                    a(href='#') Настройки
            .user-right
                .title-wrap
                    h2 Личный кабинет
                    .special-text Здравствуйте, <span class='name'>Борис Спиваков</span>, добро пожаловать в Ваш личный кабинет.
