<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <link rel="stylesheet" href="../css/index.css" type="text/css">
    <link rel="stylesheet" href="../css/base.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&amp;display=swap">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  </head>
  <body>
    <div class="wrap">
      <header>
        <div class="header-top">
          <div class="container">
            <div class="nav">
              <li class="item-level-0"><a class="link-level-0" href="#">О нас</a></li>
              <li class="item-level-0"><a class="link-level-0" href="#">Фермеры</a></li>
              <li class="item-level-0"><a class="link-level-0" href="#">Как это работает?</a></li>
              <li class="item-level-0"><a class="link-level-0" href="#">Отзывы</a></li>
              <li class="item-level-0"><a class="link-level-0" href="#">Доставка</a></li>
            </div>
          </div>
        </div>
        <div class="header-bottom">
          <div class="container">
            <div class="logo-wrapper"><a class="logo" href="../templates/index.html"><img src="../images/logo.png"><span class="logo-text">с грядки.kz -</span></a>
              <div class="logo-decription">online магазин<br> фермерских продуктов</div>
            </div>
            <div class="city">Алматы</div><a class="main-phone" href="tel:+7 705 33 009 55">+7 705 33 009 55</a><a class="login" href="../templates/login.html">Войти</a><a class="cart-preview" href="../templates/basket.html"><span class="title">КОРЗИНА:</span> <span class="count">0</span> тов. -  <span class="total">0</span> тг.</a>
          </div>
        </div>
        <div class="mobile-header">
          <div class="container">
            <div class="logo-wrapper"><a class="logo" href="../templates/index.html"><img src="../images/logo.png"><span class="logo-text">с грядки.kz -</span></a></div>
            <div class="burger">
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
        <div class="touch-menu">
          <div class="container"><a class="main-phone" href="tel:+7 705 33 009 55">+7 705 33 009 55</a><a class="login" href="#">Войти</a><a class="cart-preview" href="../templates/basket.html"><span class="title">КОРЗИНА:</span> <span class="count">0</span> тов. -  <span class="total">0</span> тг.</a>
            <div class="nav">
              <li class="item-level-0"><a class="link-level-0" href="#">О нас</a></li>
              <li class="item-level-0"><a class="link-level-0" href="#">Фермеры</a></li>
              <li class="item-level-0"><a class="link-level-0" href="#">Как это работает?</a></li>
              <li class="item-level-0"><a class="link-level-0" href="#">Отзывы</a></li>
              <li class="item-level-0"><a class="link-level-0" href="#">Доставка</a></li>
            </div>
          </div>
        </div>
      </header>
    </div>
    <footer>
      <div class="container">
        <div class="top-footer">
          <div class="column">
            <div class="title">Для клиетнов</div>
            <ul>
              <li><a href="#">Пункт меню</a></li>
              <li><a href="#">Пункт меню</a></li>
              <li><a href="#">Пункт меню</a></li>
              <li><a href="#">Пункт меню</a></li>
              <li><a href="#">Пункт меню</a></li>
              <li><a href="#">Пункт меню</a></li>
            </ul>
          </div>
          <div class="column">
            <div class="top">
              <div class="title">О компании</div>
              <ul>
                <li><a href="#">Пункт меню</a></li>
                <li><a href="#">Пункт меню</a></li>
                <li><a href="#">Пункт меню</a></li>
                <li><a href="#">Пункт меню</a></li>
              </ul>
            </div>
          </div>
          <div class="column">
            <div class="top">
              <div class="title">Партнёры</div>
              <ul>
                <li><a href="#">Пункт меню</a></li>
                <li><a href="#">Пункт меню</a></li>
              </ul>
            </div>
            <div class="visa"><img src="../images/visa.png"></div>
          </div>
          <div class="column">
            <div class="top"><a class="main-phone" href="tel:+7 727 328 34 05">+7 727 328 34 05</a><a class="main-phone" href="tel:+7 727 328 34 05">+7 727 328 34 05</a>
              <div class="work-time">Ежедневно с 10 до 20</div><a class="mail" href="mailto:feedback@sgryadki.kz">feedback@sgryadki.kz</a>
            </div>
            <div class="social-list"><a class="social-link vk" href="#"></a><a class="social-link youtube" href="#"></a><a class="social-link facebook" href="#"></a><a class="social-link inst" href="#"></a></div>
          </div>
        </div>
      </div>
      <div class="bottom-footer">
        <div class="container">
          <div class="copyriting">© 2020. с Грядки.kz</div><a class="sitemap" href="#">Карта сайта</a><a class="politics" href="#">Политика конфиденциальности</a>
        </div>
      </div>
    </footer>
    <script src="../js/jquery-3.5.1.min.js"></script>
    <script src="../js/popup-slide.js"></script>
    <script src="../js/slick.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>