<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <link rel="stylesheet" href="../css/index.css" type="text/css">
    <link rel="stylesheet" href="../css/base.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&amp;display=swap">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  </head>
  <body>
    <div class="wrap">
      <header>
        <div class="header-top">
          <div class="container">
            <div class="nav">
              <li class="item-level-0"><a class="link-level-0" href="#">О нас</a></li>
              <li class="item-level-0"><a class="link-level-0" href="#">Фермеры</a></li>
              <li class="item-level-0"><a class="link-level-0" href="#">Как это работает?</a></li>
              <li class="item-level-0"><a class="link-level-0" href="#">Отзывы</a></li>
              <li class="item-level-0"><a class="link-level-0" href="#">Доставка</a></li>
            </div>
          </div>
        </div>
        <div class="header-bottom">
          <div class="container">
            <div class="logo-wrapper"><a class="logo" href="../templates/index.html"><img src="../images/logo.png"><span class="logo-text">с грядки.kz -</span></a>
              <div class="logo-decription">online магазин<br> фермерских продуктов</div>
            </div>
            <div class="city">Алматы</div><a class="main-phone" href="tel:+7 705 33 009 55">+7 705 33 009 55</a><a class="login" href="../templates/login.html">Войти</a><a class="cart-preview" href="../templates/basket.html"><span class="title">КОРЗИНА:</span> <span class="count">0</span> тов. -  <span class="total">0</span> тг.</a>
          </div>
        </div>
        <div class="mobile-header">
          <div class="container">
            <div class="logo-wrapper"><a class="logo" href="../templates/index.html"><img src="../images/logo.png"><span class="logo-text">с грядки.kz -</span></a></div>
            <div class="burger">
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
        <div class="touch-menu">
          <div class="container"><a class="main-phone" href="tel:+7 705 33 009 55">+7 705 33 009 55</a><a class="login" href="#">Войти</a><a class="cart-preview" href="../templates/basket.html"><span class="title">КОРЗИНА:</span> <span class="count">0</span> тов. -  <span class="total">0</span> тг.</a>
            <div class="nav">
              <li class="item-level-0"><a class="link-level-0" href="#">О нас</a></li>
              <li class="item-level-0"><a class="link-level-0" href="#">Фермеры</a></li>
              <li class="item-level-0"><a class="link-level-0" href="#">Как это работает?</a></li>
              <li class="item-level-0"><a class="link-level-0" href="#">Отзывы</a></li>
              <li class="item-level-0"><a class="link-level-0" href="#">Доставка</a></li>
            </div>
          </div>
        </div>
      </header>
      <div class="catalog-top"><a class="item" href="#"><img src="../images/catalog.png">
          <div class="title">Название</div></a><a class="item" href="#"><img src="../images/catalog.png">
          <div class="title">Название</div></a><a class="item" href="#"><img src="../images/catalog.png">
          <div class="title">Название</div></a><a class="item" href="#"><img src="../images/catalog.png">
          <div class="title">Название</div></a><a class="item" href="#"><img src="../images/catalog.png">
          <div class="title">Название</div></a><a class="item" href="#"><img src="../images/catalog.png">
          <div class="title">Название</div></a><a class="item" href="#"><img src="../images/catalog.png">
          <div class="title">Название</div></a><a class="item" href="#"><img src="../images/catalog.png">
          <div class="title">Название</div></a><a class="item" href="#"><img src="../images/catalog.png">
          <div class="title">Название</div></a>
      </div>
      <div class="bascet-wrap">
        <div class="container">
          <h2>Корзина</h2>
          <div class="basket">
            <div class="item-list">
              <div class="bascket-item"><a class="item-image object-fit" href="#"><img src="../images/tomato.jpg"></a>
                <div class="item-info"><a class="item-title" href="#">Название товара</a>
                  <div class="price"><span class="main-price">65</span><span class="title">тг.</span>/<span class="weight">560</span>г.</div>
                  <div class="week-list">
                    <div class="day day-1">ПН</div>
                    <div class="day day-2">ВТ</div>
                    <div class="day day-3">СР</div>
                    <div class="day day-4">ЧТ</div>
                    <div class="day day-5">ПТ</div>
                    <div class="day day-6">СБ</div>
                    <div class="day day-7">ВС</div>
                  </div>
                </div>
                <div class="basket-column">
                  <div class="count-field">
                    <div class="minus">-</div>
                    <input name="count" type="text" value="1">
                    <div class="plus">+</div>
                  </div>
                </div>
                <div class="basket-column price-column">
                  <div class="total-price"><span id="total">3 600</span> тг.</div>
                </div>
                <div class="basket-column delete-column">
                  <div class="delete-item"></div>
                </div>
              </div>
              <div class="bascket-item"><a class="item-image object-fit" href="#"><img src="../images/tomato.jpg"></a>
                <div class="item-info"><a class="item-title" href="#">Название товара</a>
                  <div class="price"><span class="main-price">65</span><span class="title">тг.</span>/<span class="weight">560</span>г.</div>
                  <div class="week-list">
                    <div class="day day-1">ПН</div>
                    <div class="day day-2">ВТ</div>
                    <div class="day day-3">СР</div>
                    <div class="day day-4">ЧТ</div>
                    <div class="day day-5">ПТ</div>
                    <div class="day day-6">СБ</div>
                    <div class="day day-7">ВС</div>
                  </div>
                </div>
                <div class="basket-column">
                  <div class="count-field">
                    <div class="minus">-</div>
                    <input name="count" type="text" value="1">
                    <div class="plus">+</div>
                  </div>
                </div>
                <div class="basket-column price-column">
                  <div class="total-price"><span id="total">3 600</span> тг.</div>
                </div>
                <div class="basket-column delete-column">
                  <div class="delete-item"></div>
                </div>
              </div>
              <div class="bascket-item"><a class="item-image object-fit" href="#"><img src="../images/tomato.jpg"></a>
                <div class="item-info"><a class="item-title" href="#">Название товара</a>
                  <div class="price"><span class="main-price">65</span><span class="title">тг.</span>/<span class="weight">560</span>г.</div>
                  <div class="week-list">
                    <div class="day day-1">ПН</div>
                    <div class="day day-2">ВТ</div>
                    <div class="day day-3">СР</div>
                    <div class="day day-4">ЧТ</div>
                    <div class="day day-5">ПТ</div>
                    <div class="day day-6">СБ</div>
                    <div class="day day-7">ВС</div>
                  </div>
                </div>
                <div class="basket-column">
                  <div class="count-field">
                    <div class="minus">-</div>
                    <input name="count" type="text" value="1">
                    <div class="plus">+</div>
                  </div>
                </div>
                <div class="basket-column price-column">
                  <div class="total-price"><span id="total">3 600</span> тг.</div>
                </div>
                <div class="basket-column delete-column">
                  <div class="delete-item"></div>
                </div>
              </div>
              <h3 class="hidden">Корзина пуста</h3>
            </div>
            <div class="basket-info">
              <div class="delivery-time">
                <div class="title">Ближайшая доставка</div>
                <div class="date">8 декабря
                  <div class="day day-4">ЧТ</div>
                </div>
              </div>
              <div class="basket-total">
                <div class="line">
                  <div class="key">Кол-во товаров</div>
                  <div class="value" id="total-count">3</div>
                </div>
                <div class="line">
                  <div class="key">Вес</div>
                  <div class="value" id="total-mass"><span>12.6</span> кг.</div>
                </div>
                <div class="line">
                  <div class="key">Цена</div>
                  <div class="value" id="total-price"><span>9110</span> тг.</div>
                </div>
                <div class="buy-button"><span>Оформить заказ</span>
                  <input type="submit">
                </div>
                <div class="ac-jc">
                  <div class="clear-basket">Очистить корзину</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="popular-slider-wrap special last-block basket-last">
        <div class="container">
          <h2>Специальные предложения</h2>
          <div class="special-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
          <div class="popular-slider slider">
            <div class="slide">
              <div class="item-preview"><a class="item-image object-fit" href="#"><img src="../images/tomato.jpg">
                  <div class="week-list">
                    <div class="day day-1">ПН</div>
                    <div class="day day-2">ВТ</div>
                    <div class="day day-3">СР</div>
                    <div class="day day-4">ЧТ</div>
                    <div class="day day-5">ПТ</div>
                    <div class="day day-6">СБ</div>
                    <div class="day day-7">ВС</div>
                  </div></a>
                <div class="bottom-info"><a class="title" href="#">Помидоры спелые, сочные</a>
                  <div class="description">от кооператива «Селянин»</div>
                  <div class="bottom-row">
                    <div class="bottom-left">
                      <div class="old-price">1200 тг.</div>
                      <div class="price"><span class="count">200</span> <span>тг.</span>/кг</div>
                      <div class="rating"><img src="../images/svg/star.svg"><img src="../images/svg/star.svg"><img src="../images/svg/star.svg"><img src="../images/svg/no-star.svg"><img src="../images/svg/no-star.svg">
                      </div>
                    </div><a class="buy-button" href="#"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="slide">
              <div class="item-preview"><a class="item-image object-fit" href="#"><img src="../images/tomato.jpg">
                  <div class="week-list">
                    <div class="day day-1">ПН</div>
                    <div class="day day-2">ВТ</div>
                    <div class="day day-3">СР</div>
                    <div class="day day-4">ЧТ</div>
                    <div class="day day-5">ПТ</div>
                    <div class="day day-6">СБ</div>
                    <div class="day day-7">ВС</div>
                  </div></a>
                <div class="bottom-info"><a class="title" href="#">Помидоры спелые, сочные</a>
                  <div class="description">от кооператива «Селянин»</div>
                  <div class="bottom-row">
                    <div class="bottom-left">
                      <div class="old-price">1200 тг.</div>
                      <div class="price"><span class="count">200</span> <span>тг.</span>/кг</div>
                      <div class="rating"><img src="../images/svg/star.svg"><img src="../images/svg/star.svg"><img src="../images/svg/star.svg"><img src="../images/svg/no-star.svg"><img src="../images/svg/no-star.svg">
                      </div>
                    </div><a class="buy-button" href="#"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="slide">
              <div class="item-preview"><a class="item-image object-fit" href="#"><img src="../images/tomato.jpg">
                  <div class="week-list">
                    <div class="day day-1">ПН</div>
                    <div class="day day-2">ВТ</div>
                    <div class="day day-3">СР</div>
                    <div class="day day-4">ЧТ</div>
                    <div class="day day-5">ПТ</div>
                    <div class="day day-6">СБ</div>
                    <div class="day day-7">ВС</div>
                  </div></a>
                <div class="bottom-info"><a class="title" href="#">Помидоры спелые, сочные</a>
                  <div class="description">от кооператива «Селянин»</div>
                  <div class="bottom-row">
                    <div class="bottom-left">
                      <div class="old-price">1200 тг.</div>
                      <div class="price"><span class="count">200</span> <span>тг.</span>/кг</div>
                      <div class="rating"><img src="../images/svg/star.svg"><img src="../images/svg/star.svg"><img src="../images/svg/star.svg"><img src="../images/svg/no-star.svg"><img src="../images/svg/no-star.svg">
                      </div>
                    </div><a class="buy-button" href="#"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="slide">
              <div class="item-preview"><a class="item-image object-fit" href="#"><img src="../images/tomato.jpg">
                  <div class="week-list">
                    <div class="day day-1">ПН</div>
                    <div class="day day-2">ВТ</div>
                    <div class="day day-3">СР</div>
                    <div class="day day-4">ЧТ</div>
                    <div class="day day-5">ПТ</div>
                    <div class="day day-6">СБ</div>
                    <div class="day day-7">ВС</div>
                  </div></a>
                <div class="bottom-info"><a class="title" href="#">Помидоры спелые, сочные</a>
                  <div class="description">от кооператива «Селянин»</div>
                  <div class="bottom-row">
                    <div class="bottom-left">
                      <div class="old-price">1200 тг.</div>
                      <div class="price"><span class="count">200</span> <span>тг.</span>/кг</div>
                      <div class="rating"><img src="../images/svg/star.svg"><img src="../images/svg/star.svg"><img src="../images/svg/star.svg"><img src="../images/svg/no-star.svg"><img src="../images/svg/no-star.svg">
                      </div>
                    </div><a class="buy-button" href="#"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="slide">
              <div class="item-preview"><a class="item-image object-fit" href="#"><img src="../images/tomato.jpg">
                  <div class="week-list">
                    <div class="day day-1">ПН</div>
                    <div class="day day-2">ВТ</div>
                    <div class="day day-3">СР</div>
                    <div class="day day-4">ЧТ</div>
                    <div class="day day-5">ПТ</div>
                    <div class="day day-6">СБ</div>
                    <div class="day day-7">ВС</div>
                  </div></a>
                <div class="bottom-info"><a class="title" href="#">Помидоры спелые, сочные</a>
                  <div class="description">от кооператива «Селянин»</div>
                  <div class="bottom-row">
                    <div class="bottom-left">
                      <div class="old-price">1200 тг.</div>
                      <div class="price"><span class="count">200</span> <span>тг.</span>/кг</div>
                      <div class="rating"><img src="../images/svg/star.svg"><img src="../images/svg/star.svg"><img src="../images/svg/star.svg"><img src="../images/svg/no-star.svg"><img src="../images/svg/no-star.svg">
                      </div>
                    </div><a class="buy-button" href="#"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="slide">
              <div class="item-preview"><a class="item-image object-fit" href="#"><img src="../images/tomato.jpg">
                  <div class="week-list">
                    <div class="day day-1">ПН</div>
                    <div class="day day-2">ВТ</div>
                    <div class="day day-3">СР</div>
                    <div class="day day-4">ЧТ</div>
                    <div class="day day-5">ПТ</div>
                    <div class="day day-6">СБ</div>
                    <div class="day day-7">ВС</div>
                  </div></a>
                <div class="bottom-info"><a class="title" href="#">Помидоры спелые, сочные</a>
                  <div class="description">от кооператива «Селянин»</div>
                  <div class="bottom-row">
                    <div class="bottom-left">
                      <div class="old-price">1200 тг.</div>
                      <div class="price"><span class="count">200</span> <span>тг.</span>/кг</div>
                      <div class="rating"><img src="../images/svg/star.svg"><img src="../images/svg/star.svg"><img src="../images/svg/star.svg"><img src="../images/svg/no-star.svg"><img src="../images/svg/no-star.svg">
                      </div>
                    </div><a class="buy-button" href="#"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="slide">
              <div class="item-preview"><a class="item-image object-fit" href="#"><img src="../images/tomato.jpg">
                  <div class="week-list">
                    <div class="day day-1">ПН</div>
                    <div class="day day-2">ВТ</div>
                    <div class="day day-3">СР</div>
                    <div class="day day-4">ЧТ</div>
                    <div class="day day-5">ПТ</div>
                    <div class="day day-6">СБ</div>
                    <div class="day day-7">ВС</div>
                  </div></a>
                <div class="bottom-info"><a class="title" href="#">Помидоры спелые, сочные</a>
                  <div class="description">от кооператива «Селянин»</div>
                  <div class="bottom-row">
                    <div class="bottom-left">
                      <div class="old-price">1200 тг.</div>
                      <div class="price"><span class="count">200</span> <span>тг.</span>/кг</div>
                      <div class="rating"><img src="../images/svg/star.svg"><img src="../images/svg/star.svg"><img src="../images/svg/star.svg"><img src="../images/svg/no-star.svg"><img src="../images/svg/no-star.svg">
                      </div>
                    </div><a class="buy-button" href="#"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="slide">
              <div class="item-preview"><a class="item-image object-fit" href="#"><img src="../images/tomato.jpg">
                  <div class="week-list">
                    <div class="day day-1">ПН</div>
                    <div class="day day-2">ВТ</div>
                    <div class="day day-3">СР</div>
                    <div class="day day-4">ЧТ</div>
                    <div class="day day-5">ПТ</div>
                    <div class="day day-6">СБ</div>
                    <div class="day day-7">ВС</div>
                  </div></a>
                <div class="bottom-info"><a class="title" href="#">Помидоры спелые, сочные</a>
                  <div class="description">от кооператива «Селянин»</div>
                  <div class="bottom-row">
                    <div class="bottom-left">
                      <div class="old-price">1200 тг.</div>
                      <div class="price"><span class="count">200</span> <span>тг.</span>/кг</div>
                      <div class="rating"><img src="../images/svg/star.svg"><img src="../images/svg/star.svg"><img src="../images/svg/star.svg"><img src="../images/svg/no-star.svg"><img src="../images/svg/no-star.svg">
                      </div>
                    </div><a class="buy-button" href="#"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="slide">
              <div class="item-preview"><a class="item-image object-fit" href="#"><img src="../images/tomato.jpg">
                  <div class="week-list">
                    <div class="day day-1">ПН</div>
                    <div class="day day-2">ВТ</div>
                    <div class="day day-3">СР</div>
                    <div class="day day-4">ЧТ</div>
                    <div class="day day-5">ПТ</div>
                    <div class="day day-6">СБ</div>
                    <div class="day day-7">ВС</div>
                  </div></a>
                <div class="bottom-info"><a class="title" href="#">Помидоры спелые, сочные</a>
                  <div class="description">от кооператива «Селянин»</div>
                  <div class="bottom-row">
                    <div class="bottom-left">
                      <div class="old-price">1200 тг.</div>
                      <div class="price"><span class="count">200</span> <span>тг.</span>/кг</div>
                      <div class="rating"><img src="../images/svg/star.svg"><img src="../images/svg/star.svg"><img src="../images/svg/star.svg"><img src="../images/svg/no-star.svg"><img src="../images/svg/no-star.svg">
                      </div>
                    </div><a class="buy-button" href="#"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="slide">
              <div class="item-preview"><a class="item-image object-fit" href="#"><img src="../images/tomato.jpg">
                  <div class="week-list">
                    <div class="day day-1">ПН</div>
                    <div class="day day-2">ВТ</div>
                    <div class="day day-3">СР</div>
                    <div class="day day-4">ЧТ</div>
                    <div class="day day-5">ПТ</div>
                    <div class="day day-6">СБ</div>
                    <div class="day day-7">ВС</div>
                  </div></a>
                <div class="bottom-info"><a class="title" href="#">Помидоры спелые, сочные</a>
                  <div class="description">от кооператива «Селянин»</div>
                  <div class="bottom-row">
                    <div class="bottom-left">
                      <div class="old-price">1200 тг.</div>
                      <div class="price"><span class="count">200</span> <span>тг.</span>/кг</div>
                      <div class="rating"><img src="../images/svg/star.svg"><img src="../images/svg/star.svg"><img src="../images/svg/star.svg"><img src="../images/svg/no-star.svg"><img src="../images/svg/no-star.svg">
                      </div>
                    </div><a class="buy-button" href="#"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="top-footer">
          <div class="column">
            <div class="title">Для клиетнов</div>
            <ul>
              <li><a href="#">Пункт меню</a></li>
              <li><a href="#">Пункт меню</a></li>
              <li><a href="#">Пункт меню</a></li>
              <li><a href="#">Пункт меню</a></li>
              <li><a href="#">Пункт меню</a></li>
              <li><a href="#">Пункт меню</a></li>
            </ul>
          </div>
          <div class="column">
            <div class="top">
              <div class="title">О компании</div>
              <ul>
                <li><a href="#">Пункт меню</a></li>
                <li><a href="#">Пункт меню</a></li>
                <li><a href="#">Пункт меню</a></li>
                <li><a href="#">Пункт меню</a></li>
              </ul>
            </div>
          </div>
          <div class="column">
            <div class="top">
              <div class="title">Партнёры</div>
              <ul>
                <li><a href="#">Пункт меню</a></li>
                <li><a href="#">Пункт меню</a></li>
              </ul>
            </div>
            <div class="visa"><img src="../images/visa.png"></div>
          </div>
          <div class="column">
            <div class="top"><a class="main-phone" href="tel:+7 727 328 34 05">+7 727 328 34 05</a><a class="main-phone" href="tel:+7 727 328 34 05">+7 727 328 34 05</a>
              <div class="work-time">Ежедневно с 10 до 20</div><a class="mail" href="mailto:feedback@sgryadki.kz">feedback@sgryadki.kz</a>
            </div>
            <div class="social-list"><a class="social-link vk" href="#"></a><a class="social-link youtube" href="#"></a><a class="social-link facebook" href="#"></a><a class="social-link inst" href="#"></a></div>
          </div>
        </div>
      </div>
      <div class="bottom-footer">
        <div class="container">
          <div class="copyriting">© 2020. с Грядки.kz</div><a class="sitemap" href="#">Карта сайта</a><a class="politics" href="#">Политика конфиденциальности</a>
        </div>
      </div>
    </footer>
    <script src="../js/jquery-3.5.1.min.js"></script>
    <script src="../js/popup-slide.js"></script>
    <script src="../js/slick.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>