
<footer>
  <div class="container">
    <div class="top-footer">
      <div class="column">
        <div class="title">Для клиетнов</div>
        <ul>
          <li><a href="#">Пункт меню</a></li>
          <li><a href="#">Пункт меню</a></li>
          <li><a href="#">Пункт меню</a></li>
          <li><a href="#">Пункт меню</a></li>
          <li><a href="#">Пункт меню</a></li>
          <li><a href="#">Пункт меню</a></li>
        </ul>
      </div>
      <div class="column">
        <div class="top">
          <div class="title">О компании</div>
          <ul>
            <li><a href="#">Пункт меню</a></li>
            <li><a href="#">Пункт меню</a></li>
            <li><a href="#">Пункт меню</a></li>
            <li><a href="#">Пункт меню</a></li>
          </ul>
        </div>
      </div>
      <div class="column">
        <div class="top">
          <div class="title">Партнёры</div>
          <ul>
            <li><a href="#">Пункт меню</a></li>
            <li><a href="#">Пункт меню</a></li>
          </ul>
        </div>
        <div class="visa"><img src="../images/visa.png"/></div>
      </div>
      <div class="column">
        <div class="top"><a class="main-phone" href="tel:+7 727 328 34 05">+7 727 328 34 05</a><a class="main-phone" href="tel:+7 727 328 34 05">+7 727 328 34 05</a>
          <div class="work-time">Ежедневно с 10 до 20</div><a class="mail" href="mailto:feedback@sgryadki.kz">feedback@sgryadki.kz</a>
        </div>
        <div class="social-list"><a class="social-link vk" href="#"></a><a class="social-link youtube" href="#"></a><a class="social-link facebook" href="#"></a><a class="social-link inst" href="#"></a></div>
      </div>
    </div>
  </div>
  <div class="bottom-footer">
    <div class="container">
      <div class="copyriting">© 2020. с Грядки.kz</div><a class="sitemap" href="#">Карта сайта</a><a class="politics" href="#">Политика конфиденциальности</a>
    </div>
  </div>
</footer>