
<header>
  <div class="header-top">
    <div class="container">
      <div class="nav">
        <li class="item-level-0"><a class="link-level-0" href="#">О нас</a></li>
        <li class="item-level-0"><a class="link-level-0" href="#">Фермеры</a></li>
        <li class="item-level-0"><a class="link-level-0" href="#">Как это работает?</a></li>
        <li class="item-level-0"><a class="link-level-0" href="#">Отзывы</a></li>
        <li class="item-level-0"><a class="link-level-0" href="#">Доставка</a></li>
      </div>
    </div>
  </div>
  <div class="header-bottom">
    <div class="container">
      <div class="logo-wrapper"><a class="logo" href="../templates/index.html"><img src="../images/logo.png"/><span class="logo-text">с грядки.kz -</span></a>
        <div class="logo-decription">online магазин<br> фермерских продуктов</div>
      </div>
      <div class="city">Алматы</div><a class="main-phone" href="tel:+7 705 33 009 55">+7 705 33 009 55</a><a class="login" href="../templates/login.html">Войти</a><a class="cart-preview" href="../templates/basket.html"><span class="title">КОРЗИНА:</span> <span class="count">0</span> тов. -  <span class="total">0</span> тг.</a>
    </div>
  </div>
  <div class="mobile-header">
    <div class="container">
      <div class="logo-wrapper"><a class="logo" href="../templates/index.html"><img src="../images/logo.png"/><span class="logo-text">с грядки.kz -</span></a></div>
      <div class="burger">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="touch-menu">
    <div class="container"><a class="main-phone" href="tel:+7 705 33 009 55">+7 705 33 009 55</a><a class="login" href="#">Войти</a><a class="cart-preview" href="../templates/basket.html"><span class="title">КОРЗИНА:</span> <span class="count">0</span> тов. -  <span class="total">0</span> тг.</a>
      <div class="nav">
        <li class="item-level-0"><a class="link-level-0" href="#">О нас</a></li>
        <li class="item-level-0"><a class="link-level-0" href="#">Фермеры</a></li>
        <li class="item-level-0"><a class="link-level-0" href="#">Как это работает?</a></li>
        <li class="item-level-0"><a class="link-level-0" href="#">Отзывы</a></li>
        <li class="item-level-0"><a class="link-level-0" href="#">Доставка</a></li>
      </div>
    </div>
  </div>
</header>