<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <link rel="stylesheet" href="../css/index.css" type="text/css">
    <link rel="stylesheet" href="../css/base.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&amp;display=swap">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  </head>
  <body>
    <div class="wrap">
      <header>
        <div class="header-top">
          <div class="container">
            <div class="nav">
              <li class="item-level-0"><a class="link-level-0" href="#">О нас</a></li>
              <li class="item-level-0"><a class="link-level-0" href="#">Фермеры</a></li>
              <li class="item-level-0"><a class="link-level-0" href="#">Как это работает?</a></li>
              <li class="item-level-0"><a class="link-level-0" href="#">Отзывы</a></li>
              <li class="item-level-0"><a class="link-level-0" href="#">Доставка</a></li>
            </div>
          </div>
        </div>
        <div class="header-bottom">
          <div class="container">
            <div class="logo-wrapper"><a class="logo" href="../templates/index.html"><img src="../images/logo.png"><span class="logo-text">с грядки.kz -</span></a>
              <div class="logo-decription">online магазин<br> фермерских продуктов</div>
            </div>
            <div class="city">Алматы</div><a class="main-phone" href="tel:+7 705 33 009 55">+7 705 33 009 55</a><a class="login" href="../templates/login.html">Войти</a><a class="cart-preview" href="../templates/basket.html"><span class="title">КОРЗИНА:</span> <span class="count">0</span> тов. -  <span class="total">0</span> тг.</a>
          </div>
        </div>
        <div class="mobile-header">
          <div class="container">
            <div class="logo-wrapper"><a class="logo" href="../templates/index.html"><img src="../images/logo.png"><span class="logo-text">с грядки.kz -</span></a></div>
            <div class="burger">
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
        <div class="touch-menu">
          <div class="container"><a class="main-phone" href="tel:+7 705 33 009 55">+7 705 33 009 55</a><a class="login" href="#">Войти</a><a class="cart-preview" href="../templates/basket.html"><span class="title">КОРЗИНА:</span> <span class="count">0</span> тов. -  <span class="total">0</span> тг.</a>
            <div class="nav">
              <li class="item-level-0"><a class="link-level-0" href="#">О нас</a></li>
              <li class="item-level-0"><a class="link-level-0" href="#">Фермеры</a></li>
              <li class="item-level-0"><a class="link-level-0" href="#">Как это работает?</a></li>
              <li class="item-level-0"><a class="link-level-0" href="#">Отзывы</a></li>
              <li class="item-level-0"><a class="link-level-0" href="#">Доставка</a></li>
            </div>
          </div>
        </div>
      </header>
      <div class="catalog-top"><a class="item" href="#"><img src="../images/catalog.png">
          <div class="title">Название</div></a><a class="item" href="#"><img src="../images/catalog.png">
          <div class="title">Название</div></a><a class="item" href="#"><img src="../images/catalog.png">
          <div class="title">Название</div></a><a class="item" href="#"><img src="../images/catalog.png">
          <div class="title">Название</div></a><a class="item" href="#"><img src="../images/catalog.png">
          <div class="title">Название</div></a><a class="item" href="#"><img src="../images/catalog.png">
          <div class="title">Название</div></a><a class="item" href="#"><img src="../images/catalog.png">
          <div class="title">Название</div></a><a class="item" href="#"><img src="../images/catalog.png">
          <div class="title">Название</div></a><a class="item" href="#"><img src="../images/catalog.png">
          <div class="title">Название</div></a>
      </div>
      <div class="item-body">
        <div class="container">
          <div class="item-row">
            <div class="left">
              <h2> Томаты</h2>
              <div class="rating-info">
                <div class="rating"><img src="../images/svg/star.svg"><img src="../images/svg/star.svg"><img src="../images/svg/star.svg"><img src="../images/svg/no-star.svg"><img src="../images/svg/no-star.svg">
                </div>
                <div class="rating-count"><span>1543</span> отзыва</div>
              </div>
              <div class="farmer-info">
                <div class="farmer-image object-fit"><img src="../images/farmer.jpg"></div>
                <div class="farmer-column">
                  <div class="name">Имя фамилия</div>
                  <div class="text">описание фермера</div>
                </div>
              </div>
              <div class="text-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias beatae cum deleniti doloremque ducimus ea iure laborum maiores molestiae, nobis obcaecati perferendis, quibusdam quo reiciendis reprehenderit sapiente tempora tenetur, voluptatum?</div>
              <div class="consist"><span>Состав</span> помидоры, состав продукта</div>
              <div class="buy-line">
                <div class="price"><span class="title">Цена</span> <span class="main-price">65</span><span class="title">тг.</span>/<span class="weight">560</span>г.</div>
                <div class="count-field">
                  <div class="minus">-</div>
                  <input name="count" type="text" value="1">
                  <div class="plus">+</div>
                </div>
                <div class="buy-button"><span>В корзину</span>
                  <input type="submit">
                </div>
              </div>
            </div>
            <div class="right">
              <div class="item-slider">
                <div class="slide object-fit"><img src="../images/tomato.jpg"></div>
                <div class="slide object-fit"><img src="../images/tomato.jpg"></div>
                <div class="slide object-fit"><img src="../images/tomato.jpg"></div>
              </div>
            </div>
          </div>
          <div class="tabs item-tabs">
            <ul class="tab-list">
              <li class="tab-item"><a class="tab-link" href="#tab-0">Описание</a></li>
              <li class="tab-item"><a class="tab-link" href="#tab-1">Сертификаты</a></li>
              <li class="tab-item"><a class="tab-link" href="#tab-2">Отзывов (234)</a></li>
            </ul>
            <div class="tab" id="tab-0">
              <div class="description-tab">
                <div class="left">
                  <div class="weight">Масса <span class="value">300</span> гр</div>
                  <div class="pabular-list">
                    <div class="line">
                      <div class="value">Белок 8.5 г</div>
                      <div class="key">100гр</div>
                      <div class="value-line" style="width:8.5%"></div>
                    </div>
                    <div class="line">
                      <div class="value">Жиры 10 г</div>
                      <div class="key">100гр</div>
                      <div class="value-line" style="width:10%"></div>
                    </div>
                    <div class="line">
                      <div class="value">Белок 90 г</div>
                      <div class="key">100гр</div>
                      <div class="value-line" style="width:90%"></div>
                    </div>
                    <div class="line">
                      <div class="value">Белок 90 г</div>
                      <div class="key">100гр</div>
                      <div class="value-line" style="width:90%"></div>
                    </div>
                  </div>
                  <div class="spec"><span>Срок</span> 3 месяца</div>
                  <div class="spec"><span>Срок</span> 3 месяца</div>
                  <div class="spec"><span>Срок</span> 3 месяца</div>
                  <div class="spec"><span>Срок</span> 3 месяца</div>
                </div>
                <div class="right">
                  <div class="name">Имя фамилия</div>
                  <div class="farmer-row">
                    <div class="image object-fit"><img src="../images/farmer.jpg"></div>
                    <div class="farmer-text">В деревне Титово Тверской области располагается пекарня Бориса Спивакова "Спиваковский Колобок". Семейная пекарня появилась в деревне в 2014 году и настолько ..</div>
                  </div>
                  <div class="farmer-bottom"><a class="buy-button" href="#"><span>Подробнее</span></a></div>
                </div>
              </div>
            </div>
            <div class="tab" id="tab-1">
              <div class="description-tab">
                <div class="left">
                  <div class="weight">Масса <span class="value">300</span> гр</div>
                  <div class="pabular-list">
                    <div class="line">
                      <div class="value">Белок 8.5 г</div>
                      <div class="key">100гр</div>
                      <div class="value-line" style="width:8.5%"></div>
                    </div>
                    <div class="line">
                      <div class="value">Жиры 10 г</div>
                      <div class="key">100гр</div>
                      <div class="value-line" style="width:10%"></div>
                    </div>
                    <div class="line">
                      <div class="value">Белок 90 г</div>
                      <div class="key">100гр</div>
                      <div class="value-line" style="width:90%"></div>
                    </div>
                    <div class="line">
                      <div class="value">Белок 90 г</div>
                      <div class="key">100гр</div>
                      <div class="value-line" style="width:90%"></div>
                    </div>
                  </div>
                  <div class="spec"><span>Срок</span> 3 месяца</div>
                  <div class="spec"><span>Срок</span> 3 месяца</div>
                  <div class="spec"><span>Срок</span> 3 месяца</div>
                  <div class="spec"><span>Срок</span> 3 месяца</div>
                </div>
                <div class="right">
                  <div class="name">Имя фамилия</div>
                  <div class="farmer-row">
                    <div class="image object-fit"><img src="../images/farmer.jpg"></div>
                    <div class="farmer-text">В деревне Титово Тверской области располагается пекарня Бориса Спивакова "Спиваковский Колобок". Семейная пекарня появилась в деревне в 2014 году и настолько ..</div>
                  </div>
                  <div class="farmer-bottom"><a class="buy-button" href="#"><span>Подробнее</span></a></div>
                </div>
              </div>
            </div>
            <div class="tab" id="tab-2">
              <div class="description-tab">
                <div class="left">
                  <div class="weight">Масса <span class="value">300</span> гр</div>
                  <div class="pabular-list">
                    <div class="line">
                      <div class="value">Белок 8.5 г</div>
                      <div class="key">100гр</div>
                      <div class="value-line" style="width:8.5%"></div>
                    </div>
                    <div class="line">
                      <div class="value">Жиры 10 г</div>
                      <div class="key">100гр</div>
                      <div class="value-line" style="width:10%"></div>
                    </div>
                    <div class="line">
                      <div class="value">Белок 90 г</div>
                      <div class="key">100гр</div>
                      <div class="value-line" style="width:90%"></div>
                    </div>
                    <div class="line">
                      <div class="value">Белок 90 г</div>
                      <div class="key">100гр</div>
                      <div class="value-line" style="width:90%"></div>
                    </div>
                  </div>
                  <div class="spec"><span>Срок</span> 3 месяца</div>
                  <div class="spec"><span>Срок</span> 3 месяца</div>
                  <div class="spec"><span>Срок</span> 3 месяца</div>
                  <div class="spec"><span>Срок</span> 3 месяца</div>
                </div>
                <div class="right">
                  <div class="name">Имя фамилия</div>
                  <div class="farmer-row">
                    <div class="image object-fit"><img src="../images/farmer.jpg"></div>
                    <div class="farmer-text">В деревне Титово Тверской области располагается пекарня Бориса Спивакова "Спиваковский Колобок". Семейная пекарня появилась в деревне в 2014 году и настолько ..</div>
                  </div>
                  <div class="farmer-bottom"><a class="buy-button" href="#"><span>Подробнее</span></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="right"></div>
      <div class="same-items-wrap">
        <div class="container">
          <h2>Похожие товары</h2>
          <div class="same-list">
            <div class="item-preview"><a class="item-image object-fit" href="#"><img src="../images/tomato.jpg">
                <div class="week-list">
                  <div class="day day-1">ПН</div>
                  <div class="day day-2">ВТ</div>
                  <div class="day day-3">СР</div>
                  <div class="day day-4">ЧТ</div>
                  <div class="day day-5">ПТ</div>
                  <div class="day day-6">СБ</div>
                  <div class="day day-7">ВС</div>
                </div></a>
              <div class="bottom-info"><a class="title" href="#">Помидоры спелые, сочные</a>
                <div class="description">от кооператива «Селянин»</div>
                <div class="bottom-row">
                  <div class="bottom-left">
                    <div class="price"><span class="count">200</span> <span>тг.</span>/кг</div>
                    <div class="rating"><img src="../images/svg/star.svg"><img src="../images/svg/star.svg"><img src="../images/svg/star.svg"><img src="../images/svg/no-star.svg"><img src="../images/svg/no-star.svg">
                    </div>
                  </div><a class="buy-button" href="#"></a>
                </div>
              </div>
            </div>
            <div class="item-preview"><a class="item-image object-fit" href="#"><img src="../images/tomato.jpg">
                <div class="week-list">
                  <div class="day day-1">ПН</div>
                  <div class="day day-2">ВТ</div>
                  <div class="day day-3">СР</div>
                  <div class="day day-4">ЧТ</div>
                  <div class="day day-5">ПТ</div>
                  <div class="day day-6">СБ</div>
                  <div class="day day-7">ВС</div>
                </div></a>
              <div class="bottom-info"><a class="title" href="#">Помидоры спелые, сочные</a>
                <div class="description">от кооператива «Селянин»</div>
                <div class="bottom-row">
                  <div class="bottom-left">
                    <div class="price"><span class="count">200</span> <span>тг.</span>/кг</div>
                    <div class="rating"><img src="../images/svg/star.svg"><img src="../images/svg/star.svg"><img src="../images/svg/star.svg"><img src="../images/svg/no-star.svg"><img src="../images/svg/no-star.svg">
                    </div>
                  </div><a class="buy-button" href="#"></a>
                </div>
              </div>
            </div>
            <div class="item-preview"><a class="item-image object-fit" href="#"><img src="../images/tomato.jpg">
                <div class="week-list">
                  <div class="day day-1">ПН</div>
                  <div class="day day-2">ВТ</div>
                  <div class="day day-3">СР</div>
                  <div class="day day-4">ЧТ</div>
                  <div class="day day-5">ПТ</div>
                  <div class="day day-6">СБ</div>
                  <div class="day day-7">ВС</div>
                </div></a>
              <div class="bottom-info"><a class="title" href="#">Помидоры спелые, сочные</a>
                <div class="description">от кооператива «Селянин»</div>
                <div class="bottom-row">
                  <div class="bottom-left">
                    <div class="price"><span class="count">200</span> <span>тг.</span>/кг</div>
                    <div class="rating"><img src="../images/svg/star.svg"><img src="../images/svg/star.svg"><img src="../images/svg/star.svg"><img src="../images/svg/no-star.svg"><img src="../images/svg/no-star.svg">
                    </div>
                  </div><a class="buy-button" href="#"></a>
                </div>
              </div>
            </div>
            <div class="item-preview"><a class="item-image object-fit" href="#"><img src="../images/tomato.jpg">
                <div class="week-list">
                  <div class="day day-1">ПН</div>
                  <div class="day day-2">ВТ</div>
                  <div class="day day-3">СР</div>
                  <div class="day day-4">ЧТ</div>
                  <div class="day day-5">ПТ</div>
                  <div class="day day-6">СБ</div>
                  <div class="day day-7">ВС</div>
                </div></a>
              <div class="bottom-info"><a class="title" href="#">Помидоры спелые, сочные</a>
                <div class="description">от кооператива «Селянин»</div>
                <div class="bottom-row">
                  <div class="bottom-left">
                    <div class="price"><span class="count">200</span> <span>тг.</span>/кг</div>
                    <div class="rating"><img src="../images/svg/star.svg"><img src="../images/svg/star.svg"><img src="../images/svg/star.svg"><img src="../images/svg/no-star.svg"><img src="../images/svg/no-star.svg">
                    </div>
                  </div><a class="buy-button" href="#"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mail-form-wrap last-block">
        <div class="container">
          <h2>Подпишитесь на рассылку</h2>
          <div class="mail-text">Акции только для подписчиков</div>
          <div class="mail-form">
            <div class="input-field">
              <input placeholder="Email">
            </div>
            <div class="button"><span>Отправить</span>
              <input type="submit">
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="top-footer">
          <div class="column">
            <div class="title">Для клиетнов</div>
            <ul>
              <li><a href="#">Пункт меню</a></li>
              <li><a href="#">Пункт меню</a></li>
              <li><a href="#">Пункт меню</a></li>
              <li><a href="#">Пункт меню</a></li>
              <li><a href="#">Пункт меню</a></li>
              <li><a href="#">Пункт меню</a></li>
            </ul>
          </div>
          <div class="column">
            <div class="top">
              <div class="title">О компании</div>
              <ul>
                <li><a href="#">Пункт меню</a></li>
                <li><a href="#">Пункт меню</a></li>
                <li><a href="#">Пункт меню</a></li>
                <li><a href="#">Пункт меню</a></li>
              </ul>
            </div>
          </div>
          <div class="column">
            <div class="top">
              <div class="title">Партнёры</div>
              <ul>
                <li><a href="#">Пункт меню</a></li>
                <li><a href="#">Пункт меню</a></li>
              </ul>
            </div>
            <div class="visa"><img src="../images/visa.png"></div>
          </div>
          <div class="column">
            <div class="top"><a class="main-phone" href="tel:+7 727 328 34 05">+7 727 328 34 05</a><a class="main-phone" href="tel:+7 727 328 34 05">+7 727 328 34 05</a>
              <div class="work-time">Ежедневно с 10 до 20</div><a class="mail" href="mailto:feedback@sgryadki.kz">feedback@sgryadki.kz</a>
            </div>
            <div class="social-list"><a class="social-link vk" href="#"></a><a class="social-link youtube" href="#"></a><a class="social-link facebook" href="#"></a><a class="social-link inst" href="#"></a></div>
          </div>
        </div>
      </div>
      <div class="bottom-footer">
        <div class="container">
          <div class="copyriting">© 2020. с Грядки.kz</div><a class="sitemap" href="#">Карта сайта</a><a class="politics" href="#">Политика конфиденциальности</a>
        </div>
      </div>
    </footer>
    <script src="../js/jquery-3.5.1.min.js"></script>
    <script src="../js/popup-slide.js"></script>
    <script src="../js/slick.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>