.about-wrap{
  background-size: contain;
  background-image: url("../images/about.png");
  background-size: cover;
  padding: 80px 0;
  color: #ffffff;
h2{
  color: #ffffff;
}
  @include breakpoint(sm-down){
    padding: 50px 0;
  }
}

.text-about{
  text-align: center;
  max-width: 80%;
  margin: 0 auto 50px auto;
  @include breakpoint(sm-down){
    max-width: 100%;
  }
  span{
    font-size: 22px;
    font-weight: bold;
  }
}

.about-list{
  @include flexbox;
  @include flex-wrap(wrap);
  .item{
    width: 33.33%;
    padding: 0 10px;
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);
    position: relative;
    @include breakpoint(sm-down){
      width: 100%;
      margin-bottom: 20px;
    }
    &:last-of-type{
      &:after{
        content: initial;
      }
    }
    &:after{
      content: '';
      position: absolute;
      right: 0;
      top: 75px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #ffffff;
      @include breakpoint(sm-down){
        content: initial;
      }
    }
    .icon{
      width: 130px;
      height: 130px;
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
      background-color: #ff7a2d;
      border-radius: 50%;
      margin-bottom: 20px;
      img{
        max-width: 80%;
      }
    }
    .title{
      font-family: $font-family-alt;
      font-size: 31px;
      margin-bottom: 10px;
      text-align: center;
      @include breakpoint(sm-down){
        font-size: 22px;
      }
    }
    .text{
      text-align: center;
      line-height: 1.5;
    }
  }
}