.catalog-top{
  padding: 25px 0 40px 0;
  border-bottom: 1px solid #e2e4d7;
  .item{
    text-decoration: none;
    font-family: $font-family-alt;
    color: $text-color;
    padding: 0 10px;
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);
  }
  .title{
    max-width: 100%;
    text-align: center;
  }
  img{
    max-width: 100%;
    max-height: 165px;
  }
}

.main-slider-wrap{
  padding: 25px 0 40px 0;
  @include breakpoint(sm-down){
    padding: 25px 0;
  }
  .container{
    @include breakpoint(smxs){
      padding: 0;
    }
  }
}

.main-slider{
  padding: 0 60px;
  margin: 0 -60px;
  padding-bottom: 60px;
  position: relative;
  @include breakpoint(lg){
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
  }
  @include breakpoint(md-down){
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
  }
  @include breakpoint(sm-down){
    padding-bottom: 30px;
  }

  .slick-list{
    margin: 0 -12px;
    @include breakpoint(lg){
      padding: 0;
      margin: 0 25px;
    }
    @include breakpoint(md-down){
      padding: 0;
      margin: 0 25px;
    }
  }
  .slide{
    margin: 0 12px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    height: 330px;
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(flex-end);
    @include align-items(flex-start);
    padding: 30px 40px;
    @include breakpoint(sm-down){
      padding: 10px;
      margin: 0 5px;
      height: 200px;
    }
  }
  .title,.more-slide,.description{
    position: relative;
    z-index: 1;
  }
  .title{
    font-size: 31px;
    font-weight: bold;
    margin-bottom: 5px;
    @include breakpoint(smxs){
      font-size: 22px;
    }
  }
  .description{
    height: 50px;
    font-size: 14px;
  }
  .more-slide{
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    background-color: #89b64e;
    border-radius: 25px;
    padding: 20px 50px;
    @include flexbox;
    @include align-items(center);
    @include justify-content(cetner);
  }

}

.slider{

  .slick-arrow{
    height: 57px;
    width: 26px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: calc(50% - 75px);
    background-image: url("../images/svg/right-arrow.svg");
  }
  .slick-prev{
    left: 0;
    @include rotate(180);
  }
  .slick-next{
    right: 0;
  }

  .slick-dots{
    bottom: 0;
    left: 0;
    width: 100%;
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(center);
    li{
      margin: 0 15px 10px 15px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #e2e4d7;
      transition: all .2s;
      &.slick-active{
        background-color: #ff7a2d;
      }

    }
  }
}

.popular-slider-wrap{
  background-color: #ebecee;
  padding: 50px 0;
  @include breakpoint(smxs){
    .container{
      padding: 0;
    }
  }
  &.special{
    background-color: initial;
    .item-preview .bottom-info{
      background-color: #ebecee;
    }
    h2{
      color:#ff7a2d;
    }
  }
}

.popular-slider{
  padding: 0 60px;
  margin: 0 -60px;
  padding-bottom: 30px;
  position: relative;
  @include breakpoint(lg){
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
  }
  @include breakpoint(md-down){
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
  }
  @include breakpoint(sm-down){
    padding-bottom: 30px;
  }
  .slick-list{
    margin: 0 -15px;
    @include breakpoint(lg){
      padding: 0;
      margin: 0 25px;
    }
    @include breakpoint(md-down){
      padding: 0;
      margin: 0 25px;
    }
  }
  .item-preview{
    margin: 0 15px;
    @include breakpoint(smxs){
      margin: 0 5px;
    }
  }
  .slide{
    padding-bottom: 30px;
  }
}

.all-catalog-wrap{
  padding: 50px 0;
}

.catalog-list{
  @include flexbox;
  @include flex-wrap(wrap);
  margin: 0 -15px;
  .item{
    text-decoration: none;
    width: calc(25% - 30px);
    margin: 0 15px 30px 15px;
    border-radius: 25px;
    overflow: hidden;
    background-color: #ebecee;
    @include breakpoint(sm-down){
      width: calc(50% - 30px);
      margin-bottom: 15px;
    }
    @include breakpoint(smxs){
      width: calc(100% - 30px);
    }
  }
  .bottom-info{
    padding: 10px;
  }
  .img{
    height: 200px;
    position: relative;
  }
  .title{
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    color: $text-color;
    margin-bottom: 3px;
  }
  .description{
    font-size: 14px;
    color: #858585;
    text-align: center;
  }
}