.catalog-top{
  padding: 25px 0 40px 0;
  border-bottom: 1px solid #e2e4d7;
  .item{
    text-decoration: none;
    font-family: $font-family-alt;
    color: $text-color;
    padding: 0 10px;
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);
  }
  .title{
    max-width: 100%;
    text-align: center;
  }
  img{
    max-width: 100%;
    max-height: 165px;
  }
}