.question-wrap{
  padding: 50px 0;
  @include breakpoint(sm-down){
    padding: 25px 0;
  }
  background-color: #ebecee;

}

.last-block{
  padding-bottom: 260px;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-image: url("../images/footer-decor.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }

  @include breakpoint(sm-down){
    padding-bottom: 25px;
  }
}

.question{
  font-size: 27px;
  border: 1px solid #ff7a2d;
  border-radius: 20px;
  padding: 15px 15px 15px 100px;
  margin-bottom: 10px;
  font-family: $font-family-alt;
  position: relative;
  .text{
    z-index: 2;
    position: relative;
  }
  &:after{
    content: '';
    position: absolute;
    left: 25px;
    top: -5px;
    background-image: url("../images/question.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 50px;
    z-index: 2;
  }
  &:before{
    content: '';
    position: absolute;
    left: 1px;
    top: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 20px;
  }
  &:first-of-type{
    color: #6c521a;
    &:before{
      background-color: #ffdeb1;
    }
  }
  &:nth-of-type(2){
    color: #782424;

    &:before{
      background-color: #ffbdb8;
    }
  }
  &:nth-of-type(3){
    color: #76871e;

    &:before{
      background-color: #e5ffb2;
    }
  }
  &:nth-of-type(4){
    color: #125e65;
    &:before{
      background-color: #a9ffed;
    }
  }
}